<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <%#= link "User CRUD", to: Routes.room_path(@conn, :index) %>
  <%= link "Log in", to: Routes.user_path(@conn, :index) %>
</section>
